<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../css/styles.css">
</head>

<body>

</body>

<nav>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/help">Help</a>
</nav>