{{>header}}


{{>info}}
{{>date}} 

<h3>Looking for weather update search below</h3>

<form>
    <div>
        <label>City</label>
        <input name="city" id="city"/>
        <button class="searchButton">Search</button>
    </div>
    
</form>

{{>footer}}